*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(91, 88, 88);
    color: white;
    list-style-type: none;
}
.container{
    height: 500px;
    max-width: 1200px;
    background-color: rgb(29, 88, 119);
    border-radius: 25px;
    margin: 10px auto;
    display: grid;
    padding: 20px;
    grid-template-columns:repeat(4,1fr);
    gap: 5px;
    box-shadow: 10px 12px 24px whitesmoke, -10px -10px 24px whitesmoke;
}
.item{
    border-radius: 18px;
    padding: 12px;
    background-color: rgb(77, 224, 211);
    text-align: center;
    display: flex;
    place-items: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:1250px ) {
    .container{
    grid-template-columns:repeat(6,1fr);
    }
}
@media screen and (max-width:1200px ) {
    .container{
    grid-template-columns:repeat(4,1fr);
    }
}
@media screen and (max-width:990px ) {
    .container{
    grid-template-columns:repeat(3,1fr);
    }
}
@media screen and (max-width:768px ) {
    .container{
    grid-template-columns:repeat(2,1fr);
    }
}
@media screen and (max-width: 480px) {
    .container{
    grid-template-columns:repeat(1,1fr);
    }
}


